<ion-content [scrollY]="false" (ionScroll)="onScroll($event)" appParallaxFioritalHeader [scrollEvents]="true"
  [imageRef]="imgRef" [headerRef]="masterHeaderRef" [barSearchRef]="barRef" [mover]="MOVER"
  [fabRef]="fbRef" [VSE]="VSE" [spacer]="SPACER" [content]="cnt" [draghdr]="DRAGHDR"
  [barRefBottom]="barRefBottom" [style.background]="'black'" #cnt>

  <!-- master header  -->
  <ion-row [style.z-index]="'10'" [style.position]="'fixed'" [style.width]="'100%'" [style.background]="'#5260fff5'"
    [style.opacity]="'0%'" [style.height]="'4.8em'" [style.justify-content]="'center'" [style.align-items]="'center'"
    #masterHeaderRef>
    <ion-col size="3">
      <ion-icon name="heart" [style.padding-right]="'1em'" [style.color]="'blue'" [style.font-size]="'1.6em'"
        [style.padding-top]="'1.2em'" [style.padding-left]="'1.2em'"></ion-icon>
    </ion-col>
    <ion-col size="7"> 
      <h5 [style.margin]="'0'" [style.padding-top]="'1.5em'" [style.padding-left]="'1.5em'">sushi pasticceria!</h5>
    </ion-col>
    <ion-col size="2">
    </ion-col>
  </ion-row>

  <div [style.z-index]="'10'" [style.position]="'fixed'" [style.width]="'0%'" [style.right]="'0px'" [style.top]="'200px'"
  [style.height]="'3em'"[style.background]="'red'" [style.background]="'red'" [style.background]="'#7c9582'"
  [style.border-top-left-radius]="'1em'" [style.border-bottom-left-radius]="'1em'" #MOVER>
    <ion-icon name="list" [style.padding-top]="'0.7em'" [style.padding-left]="'0.4em'" [style.color]="'white'"
    [style.font-size]="'1.25em'"></ion-icon>
  </div>

  <!-- header on down drag-->
  <ion-row [style.opacity]="'0%'" [style.z-index]="'10'" [style.position]="'fixed'" [style.width]="'100%'" [style.background]="'black'"
    [style.height]="'4.5em'" [style.padding-top]="'2em'" #DRAGHDR>
    <ion-col size="1">
      <ion-icon name="search" [style.padding-top]="'0.4em'" [style.padding-left]="'0.4em'" [style.color]="'white'">
      </ion-icon>
    </ion-col>
    <ion-col size="11">
      <ion-input placeholder="  cerca il tuo prodotto" [style.border-radius]="'0.3em'" [style.height]="'1.7em'"
        [style.background]="'#383a3e'" [style.color]="'white'"></ion-input>
    </ion-col>
  </ion-row>

  <ion-img src="../../assets/logo-sito-big-2.png" [style.top]="'2em'" [style.z-index]="'10'" [style.position]="'fixed'"
    [style.width]="'100%'" [style.height]="'5em'" #imgRef></ion-img>

  <!-- search bar -->
  <ion-row [style.z-index]="'10'" [style.position]="'fixed'" [style.width]="'100%'" [style.background]="'#8080802b'"
    [style.opacity]="'0%'" [style.top]="'4.8em'" #barRef>
    <ion-col size="1">
      <ion-icon name="search" [style.padding-top]="'0.4em'" [style.padding-left]="'0.4em'" [style.color]="'white'">
      </ion-icon>
    </ion-col>
    <ion-col size="11">
      <ion-input placeholder="  cerca il tuo prodotto" [style.border-radius]="'0.3em'" [style.height]="'1.7em'"
        [style.background]="'#383a3e'" [style.color]="'white'"></ion-input>
    </ion-col>
  </ion-row>

  <!-- products group selector -->
  <ion-row [style.z-index]="'10'" [style.position]="'fixed'" [style.height]="'2.8em'" [style.width]="'100%'"
    [style.background]="'black'" [style.opacity]="'0%'" [style.top]="'94.5%'" slot="fixed"  #barRefBottom>
    <div [style.height]="'1em'" [style.top]="'1em'" [style.left]="'2.6em'" [style.width]="'3.2em'" [style.z-index]="'1'"
      [style.border-radius]="'0.6em'" [style.background]="'#3880ff'" [style.position]="'absolute'" #divcover></div>
    <ion-slides (ionSlideTap)="slidePress($event)" pager="false" [options]="slideOpts" [style.padding-top]="'0.3em'"
      (ionSlideDrag)="slidesDrag($event)" #pgs>
      <ion-slide [style.height]="'2em'">
        <ion-badge [style.width]="'7em'" [style.background]="'transparent'">sushi</ion-badge>
      </ion-slide>
      <ion-slide [style.height]="'2em'">
        <ion-badge color="primary" [style.width]="'7em'" [style.background]="'transparent'">DYP frozen</ion-badge>
      </ion-slide>
      <ion-slide [style.height]="'2em'">
        <ion-badge color="primary" [style.width]="'7em'" [style.background]="'transparent'">Atelier</ion-badge>
      </ion-slide>
      <ion-slide [style.height]="'2em'">
        <ion-badge color="primary" [style.width]="'7em'" [style.background]="'transparent'">Altro</ion-badge>
      </ion-slide>
      <ion-slide [style.height]="'2em'">
        <ion-badge color="primary" [style.width]="'7em'" [style.background]="'transparent'">Italian style</ion-badge>
      </ion-slide>
    </ion-slides>
  </ion-row>

  <!-- <ion-fab-button size="small" [style.position]="'fixed'" [style.z-index]="'20'" [style.right]="'2em'" [style.top]="'8.4em'" #fbRef>
    <ion-fab-button (click)="clickFab($event)">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab-button> -->

  <ion-fab horizontal="end" vertical="top" slot="fixed" edge [style.position]="'fixed'" [style.z-index]="'20'"
    [style.right]="'1.5em'" [style.top]="'7.8em'" #fbRef>
    <ion-fab-button size="small">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
    <ion-fab-list size="small">
      <ion-fab-button color="light" size="small">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" size="small">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" size="small">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  
 
  <cdk-virtual-scroll-viewport class="ion-content-scroll-host" itemSize="80" minBufferPx="720" maxBufferPx="800" #VSE>
    <div class="spacer" [style.height]="'7.5em'" #SPACER [style.margin-bottom]="'0em'"></div>
    <!-- <ion-list *cdkVirtualFor="let header of headers">
      <ng-container>
        <ion-list-header [style.color]="'white'">
          <ion-icon name="heart" [style.padding-right]="'1em'" [style.color]="'red'"></ion-icon> {{header.hdr}}
        </ion-list-header>

        <ion-item *ngFor="let item of header.items">
          <ion-avatar slot="start">
            <img src="https://www.fiorital.com/wp-content/uploads/2018/01/logo-sito-big-2.png" />
          </ion-avatar>
          <ion-label>
            <h2 [style.color]="'white'">{{item.r1}}</h2>
            <h3 [style.color]="'white'">{{item.r2}}</h3>
            <p [style.color]="'darkgrey'">{{item.r3}}.</p>
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list> -->

   

    <ion-list>
      <span *cdkVirtualFor="let item of items; let odd = odd; let i = index">
        <ion-list-header [style.color]="'white'" [style.height]="'72px'" *ngIf="i===10"  [style.margin-top]="'8px'"
        [style.background-image]="'linear-gradient(#0070ff, black)'" [style.border-top-left-radius]="'0.5em'" [style.border-top-right-radius]="'0.5em'">
          <ion-icon name="heart" [style.padding-right]="'1em'" [style.font-size]="'1.3em'" [style.color]="'red'" [style.padding-bottom]="'0.8em'"></ion-icon> 
          <span [style.height]="'100%'">
          <h2 [style.color]="'white'" [style.margin-bottom]="'0px'"  [style.margin-top]="'0.2em'">{{item.r1}}</h2>
          <span [style.color]="'white'" [style.font-size]="'0.7em'">here my special category for all</span>
        </span>
        </ion-list-header>
        <ion-item [style.height]="'80px'" *ngIf="i!==10">
          <ion-avatar slot="start">
            <img src="https://www.fiorital.com/wp-content/uploads/2018/01/logo-sito-big-2.png" />
          </ion-avatar>
          <ion-label>
            <h2 [style.color]="'white'">{{item.r1}}</h2>
            <h3 [style.color]="'white'">{{item.r2}}</h3>
            <p [style.color]="'darkgrey'">{{item.r3}}.</p>
          </ion-label>
        </ion-item>
      </span>
    </ion-list>

  </cdk-virtual-scroll-viewport>

</ion-content>